In [5]:
import pandas as pd

In [50]:
# ARRUMAR A FUNÇÃO QUE CONFIGURA A CONTAGEM RELATIVA DO DF

In [31]:
   

def contagem_kmers(path):
        data.loc['count'] = data.loc['count'].apply(lambda x: x/soma_kmers)

    
def config_df(path:str, feature:int):
    handle = open(path)
    data =pd.read_csv(handle, names=['kmers', 'count'], sep=' ')
    data = data.T
    data.rename(columns=data.loc['kmers'], inplace=True)
    data.drop('kmers', inplace=True)
    data['feature'] = feature
    return data

In [10]:
data_teste = open('raw/al/SRR837438.kmers')

In [11]:
data = pd.read_csv(data_teste, names=['kmers','count'], sep = ' ')

In [16]:
data['count'] = data['count'].apply(lambda x : x/(data['count'].sum()))

In [17]:
data =

           kmers     count
0     AAAAACACCC  0.000002
1     AAAACACCCC  0.000002
2     AAAACCAACC  0.000002
3     AAAAGCAGCT  0.000088
4     AAAAGCAGTG  0.000012
...          ...       ...
4484  TTTTCTCGGG  0.000002
4485  TTTTGGAATT  0.000015
4486  TTTTGGGCTG  0.000007
4487  TTTTGGGCTT  0.000007
4488  TTTTGGGTGG  0.000002

[4489 rows x 2 columns]

In [6]:

dataA = open('/SRR837438.kmers')
dataB = open('./processed/SRR837439.kmers')
dataC = open('./processed/SRR837439.kmers')
dataD = open('./processed/SRR837440.kmers')
dataE = open('./processed/SRR837441.kmers')
dataF = open('./processed/SRR837442.kmers')
dataG= open('./processed/SRR837443.kmers')
dataH = open('./processed/SRR837444.kmers')
dataI = open('./processed/SRR837445.kmers')
dataJ = open('./processed/SRR837446.kmers')

In [32]:
data_control = config_df_t('raw/con/SRR837471.kmers', 0)
data_control = data_control.append(config_df_t('raw/con/SRR837472.kmers', 0))
data_control = data_control.append(config_df_t('raw/con/SRR837473.kmers', 0))
data_control = data_control.append(config_df_t('raw/con/SRR837474.kmers', 0))
data_control = data_control.append(config_df_t('raw/con/SRR837475.kmers', 0))
data_control = data_control.append(config_df_t('raw/con/SRR837476.kmers', 0))
data_control = data_control.append(config_df_t('raw/con/SRR837477.kmers', 0))
data_control = data_control.append(config_df_t('raw/con/SRR837478.kmers', 0))
data_control = data_control.append(config_df_t('raw/con/SRR837479.kmers', 0))
data_control = data_control.append(config_df_t('raw/con/SRR837480.kmers', 0))

In [46]:
data_total = pd.concat([data_, data_control])
data_total.fillna(0, inplace=True)
data_total.to_csv('/home/jan/vladmir/data/processed/initial_data_processed.csv', index=False)